@use "../../../styles/variables/" as *;

#sports {
  .text-wrapper {
    color: $white;
  }

  .image-wrapper {
    display: grid;

    .card {
      position: relative;
      border-radius: 10px;
      background-color: $white;
      width: 100%;
      height: 100%;
      overflow: hidden;
      text-align: center;

      img {
        width: 100%;
        height: 50%;
      }

      .info-wrapper {
        padding: 1.5em;
      }
    }
  }

  @include media("<lg") {
    .image-wrapper {
      max-width: 400px;
      row-gap: 3em;

      .info-wrapper {
        .title {
          font-size: 1.5rem;
        }

        .explanation {
          font-size: 0.9rem;
        }
      }
    }
  }

  @include media(">=lg") {
    .image-wrapper {
      width: 100%;
      column-gap: 3em;
      height: 500px;
      justify-content: center;
      grid-template-columns: repeat(3, minmax(auto, 500px));

      .card {
        margin: 0 auto;
        max-width: 330px;
        height: 100%;

        .info-wrapper {
          .title {
            font-size: 1.25rem;
            margin-bottom: 0.5em;
          }

          .explanation {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
