@use "./variables/" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $prompt;
  font-size: 10px;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

h1,
h2 {
  font-family: $charmonman;
  text-transform: uppercase;
}

p {
  line-height: 2;
}

button {
  background: transparent;
  border: transparent;
  cursor: pointer;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media("<lg") {
    padding: 5em 2em;

    .text-wrapper {
      .title {
        font-size: 2.75rem;
      }

      .text {
        font-size: 1rem;
      }
    }
  }

  @include media(">=lg") {
    padding: 5em 0;

    .text-wrapper {
      margin-bottom: 3em;

      .title {
        font-size: 3.5rem;
      }

      .text {
        font-size: 1.25rem;
      }
    }
  }
}
