@use "./variables/" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $prompt;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

h1,
h2 {
  font-family: $charmonman;
  text-transform: uppercase;
}

button {
  background: transparent;
  border: transparent;
  cursor: pointer;
}
