@use "../../../styles/variables/" as *;

#history {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;

    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text-wrapper {
      color: $white;
    }
  }

  @include media("<lg") {
    padding: 5em 2em;

    .container {
      flex-direction: column;
      max-width: 500px;
      row-gap: 5em;
      align-items: center;

      .territory-image {
        max-width: 70%;
        height: 80%;
      }

      .text-wrapper {
        text-align: center;

        .title {
          margin-bottom: 0.5em;
          font-size: 2rem;
        }

        .text {
          font-size: 0.85rem;
        }
      }
    }
  }

  @include media(">=lg") {
    .container {
      max-width: 1200px;
      height: 100vh;
      flex-direction: row;
      column-gap: 4em;

      .territory-image {
        max-width: 100%;
        height: 80%;
      }

      .text-wrapper {
        max-width: 600px;

        .title {
          font-size: 2.75rem;
        }

        .text {
          font-size: 1rem;
        }
      }
    }
  }
}
