@use "../../../styles/variables/" as *;

#smile {
  background: linear-gradient(180deg, black, transparent);

  .text-wrapper {
    color: $white;
  }

  .video-wrapper {
    display: flex;
    justify-content: center;
  }

  @include media("<lg") {
    .video-wrapper {
      iframe {
        width: 70vw;
        height: 40vh;
      }
    }
  }

  @include media(">=lg") {
    .video-wrapper {
      iframe {
        width: 80vw;
        max-width: 70rem;
        height: 60vh;
      }
    }
  }
}
