@use "../../../styles/variables/" as *;

#landmarks {
  .text-wrapper {
    color: $black;
  }

  .image-wrapper {
    display: grid;

    .card {
      position: relative;

      img {
        border-radius: 20px;
      }
    }
  }

  @include media("<lg") {
    .image-wrapper {
      grid-template-columns: 1fr;
      gap: 2em;
    }
  }

  @include media(">=lg") {
    .image-wrapper {
      width: 90%;
      gap: 1em;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
